<div class='container mt-4 p-4 card'>
  <h1>Login</h1>
  <form id='loginForm'>
    <label for='email' class='form-label'>Email</label>
    <input  class="form-control" name='email' />
    <br />
    <label for='password' class='form-label'>Contraseña</label>

    <input class="form-control" type='password'  name='password'/>
    <input class="btn btn-primary mt-2" type='submit' />
  </form>
  <p>No estás registrado? <a href='/register'>Regístrate aquí</a></p>
</div>
<script src='/js/login.js'></script>

